{
	"extends": "@remotion",
	"rules": {
		"capitalized-comments": "off",
		"spaced-comment": "off",
		"@typescript-eslint/no-unused-vars": [
			"warn",
			{
				"varsIgnorePattern": "^_"
			}
		]
	}
}
